.formulario {
  background: linear-gradient(135deg, #1f1f1f, #121212, #0a0a0a);
  border: 1px solid #1f1f1f;
  border-radius: 15px;
  padding: 2rem;
  position: sticky;
  top: 2rem;
  width: 550px;
  height: 700px;
  margin-top: 70px;

}

.formulario:hover {
  border: 1px solid var(--blue-color);
  transition: 0.3s;
}

.formulario>h1 {

  text-align: center;
  color: var(--cinza-color);
  margin-bottom: 30px;
  display: block;


}



form>.box-form>textarea {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid var(--escuro-color);
  background-color: var(--body-color);
  color: aliceblue;
}

form>.box-form>input {
  width: 500px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid var(--cinza-color);
  background-color: var(--body-color);
  color: rgb(16, 121, 212);
  position: relative;

}


form>.box-form>input:focus {

  border: 1px solid var(--blue-color);
  outline: none;



}

#button-form>button {


  cursor: pointer;

}

#button-form {

  align-items: center;
  text-align: center;

}